<div id="start-index">
  <div class="container">
    <div class="section group">
      	<div class="col span_1_of_3">
      	  <div class="headers">
            <h2><strong>about</strong></h2>

          </div>
          <div class="text">
            <p>
              <%if !@profile.nil?%>
                <%if !@profile.about.nil?%>
                  <%=@profile.about%>
                <%end%>
              <%end%>
            </p>
          </div>
          <div class="headers">
            <h2><strong>experince</strong></h2>

          </div>
          <div class="text">
            <p>
              <%if !@profile.nil?%>
                <%if !@profile.experince.nil?%>
                  <%=@profile.experince%>
                <%end%>
              <%end%>
            </p>
          </div>
          <div class="headers">
            <h2><strong>Contact me!</strong></h2>

          </div>
          <div class="text">
            <p>
            <%if !@profile.nil?%>
              <%if !@profile.contact.nil?%>
                <%=@profile.contact%>
              <%end%>
            <%end%>
            </p>
            <!-- <i class="fa fa-twitter" aria-hidden="true">haj</i>
            <i class="fa fa-facebook" aria-hidden="true">haj</i>
            <i class="fa fa-flickr" aria-hidden="true">haj</i> -->
          </br>
        </br>
            <p>
              or send me a mail
            </p>
            <%=link_to "Contact",contact_forms_path, class:"btn btn-primary"%>
          </div>

      	</div>
      	<div class="col span_1_of_3">
          <div class="headers">
            <h2><strong>CLIENTS</strong></h2>

          </div>
          <div class="text">
            <p>
              <%if !@profile.nil?%>
                <%if !@profile.clients.nil?%>
                  <%=@profile.clients%>
                <%end%>
              <%end%>
            </p>
          </div>
      	</div>
      	<div class="col span_1_of_3">
        	<div class="picture-holder">
            <%if !@profile.nil?%>
              <%if !@profile.profile_picture.nil?%>
                <%=image_tag(@profile.profile_picture.normal_thumb, class:"img-responsive")%>
              <%end%>
            <%end%>
          </div>
      	</div>
    </div>

  </div>
</div>
