<div id="new-album-view">
  <div class="container">
    <div class="center-pictures">
        <div class="section group">
            <%number=1%>
            <%@albums.each do |album|%>
                <%if number <= 1%>
                <div class="col span_4_of_10">
                  <div class="hovereffect">
                      <%=link_to album_path(album) do %>
                        <%=image_tag(album.photos.first.picture.normal_thumb, class:"img-responsive")%>
                        <div class="overlay">
                            <h2><%=album.name%></h2>
                        </div>
                      <%end%>
                  </div>
                </div>
                <%elsif number >= 2 and number <= 3%>
                  <div class="col span_6_of_10">
                    <div class="hovereffect">
                        <%=link_to album_path(album) do %>
                          <%=image_tag(album.photos.first.picture.normal_thumb, class:"img-responsive")%>
                          <div class="overlay">
                              <h2><%=album.name%></h2>
                          </div>
                        <%end%>
                    </div>
                  </div>
                <%elsif number >= 3 and number < 4 %>
                  <div class="col span_6_of_10">
                    <div class="hovereffect">
                        <%=link_to album_path(album) do %>
                          <%=image_tag(album.photos.first.picture.normal_thumb, class:"img-responsive")%>
                          <div class="overlay">
                              <h2><%=album.name%></h2>
                          </div>
                        <%end%>
                    </div>
                  </div>
                <%elsif number  >= 4 and number < 5%>
                  <div class="col span_4_of_10">
                    <div class="hovereffect">
                        <%=link_to album_path(album) do %>
                          <%=image_tag(album.photos.first.picture.normal_thumb, class:"img-responsive")%>
                          <div class="overlay">
                              <h2><%=album.name%></h2>
                          </div>
                        <%end%>
                    </div>
                  </div>
                <%elsif number  >=5 and number < 6%>

                  <div class="col span_5_of_10">
                    <div class="hovereffect">
                        <%=link_to album_path(album) do %>
                          <%=image_tag(album.photos.first.picture.normal_thumb, class:"img-responsive")%>
                          <div class="overlay">
                              <h2><%=album.name%></h2>
                          </div>
                        <%end%>
                    </div>
                  </div>
                <%elsif number  >= 6 and number < 7%>
                  <div class="col span_5_of_10">
                    <div class="hovereffect">
                        <%=link_to album_path(album) do %>
                          <%=image_tag(album.photos.first.picture.normal_thumb, class:"img-responsive")%>
                          <div class="overlay">
                              <h2><%=album.name%></h2>
                          </div>
                        <%end%>
                    </div>
                  </div>
                <%elsif number  >=7%>
                  <%number = 0%>
                <%end%>
                <%number += 1%>
            <%end%>

          </div>
        </div>
      </div>
    </div>
